* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  text-align: center;
}
/*  PRIMA ZONA DI NAVIGAZIONE  */
.navuno {
  background-color: silver;
  height: 75px;
  width: 100%;
  border: 1px solid violet;
}
.navuno li {
  font-size: 20px;
  display: inline;

}
.navuno ul:first-child {
  float: left;
  margin-left: 15%;
  margin-top: 25px;
}
.navuno ul:nth-child(2) {
  float: right;
  margin-right: 15%;
  margin-top: 15px;
}
button {
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border: solid 1px grey;
  border-radius: 4px;
  padding: 10px 20px;
}

/*  SECONDA ZONA DI NAVIGAZIONE  */

.navdue {
  /* background-color: silver; */
  height: 75px;
  width: 100%;
  border: 1px solid black;
}
#logo {
  float: left;
  margin-left: 15%;
  margin-top: 20px;
}

.navdue li {
  display: inline;
  font-size: 20px;
}

.navdue ul {
  float: right;
  margin-right: 15%;
  margin-top: 25px;
}
