* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
/*  PRIMA ZONA DI NAVIGAZIONE  */
.navuno {
  background-color: #F4F9FD;
  height: 75px;
  width: 100%;
  border: 1px solid violet;
}
.navuno li {
  font-size: 20px;
  display: inline;
}
.navuno ul:first-child {
  float: left;
  margin-left: 15%;
  margin-top: 25px;
}

.navuno ul:nth-child(2) {
  float: right;
  margin-right: 15%;
  margin-top: 15px;
}

.navuno-primoul:nth-child(2) {
  margin: 0 30px;
}

.navuno-secondoul li:first-child {
  color: #71BACD;
  margin-right: 15px;
}

.lispaces {
  padding: 0 15px;
}

button {
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border: solid 1px #FD765A;
  border-radius: 4px;
  padding: 15px 25px;
  background-color: #FD765A;
  color: white;
}

.button-login {
  background-color: white;
  border: solid 1px #FD765A;
  color: #FD765A;
}
.button-login, .button-get {
  margin-left: 15px;
  padding: 10px 20px;
}

/*  SECONDA ZONA DI NAVIGAZIONE  */

.navdue {
  /* background-color: silver; */
  height: 75px;
  width: 100%;
  border: 1px solid black;
}
#logo {
  float: left;
  margin-left: 15%;
  margin-top: 20px;
}

.navdue li {
  display: inline;
  font-size: 20px;
}

.navdue ul {
  float: right;
  margin-right: 15%;
  margin-top: 25px;
}

.navdue li {
  margin-left: 20px;
}

li.has-dropdown::after {
  content: "";
  height: 8px;
  width: 8px;
  border: 2px solid black;
  border-left-color: transparent;
  border-top-color: transparent;
  display: inline-block;
  position: absolute;
  right: 0px;
  transform: rotate(45deg);

}

li.has-dropdown {
  padding-right: 20px;
  position: relative;

}

/* BANNER */

.banner {
  /* border: 1px solid blue; */
  width: 100%;
  height:875px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: right;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
.text-banner-area {
  width: 650px;
  text-align: left;
  margin-left: 15%;
  position: absolute;
  margin-top: 50px;


}
#banner-title {
  font-size: 60px;
  font-weight: bolder;
  display: block;
  margin-bottom: 20px;

}
#banner-descr {
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
}

#banner-button {
  margin-bottom: 20px;
  display: block;
}

#banner-down {
  font-size: 15px;
}
/* DIV FINE BANNER */
.bannerbottom {
  width: 100%;
  height: 100px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;

  background-color: #AFEBE3;
}
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN  */
/* LIVELLO UNO */
.livellouno {
  position: relative;
  background-color: #F4F9FD;
}
/*  PARTE SUPERIORE DEL LIVELLO UNO  */
.livellouno-top {
  width: 100%;
  text-align: center;
}

.rubikdiv {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text-align: center;
}
.rubikimg {
  margin-top: 30px;
  width: 250px;
}

.rubik-title {
  font-size: 50px;
  display: block;
  margin-bottom: 20px;
}
.rubik-subtitle {
  font-size: 20px;
}

 /* SECONDA PARTE DEL LIVELLO UNO */

 .contain {

   margin-top: 50px;
   position: relative;
   margin-left: 15%;
   margin-right: 15%;

 }
.containtop {

  background-color: white;
  /* margin-left: 10%;
  margin-right: 10%; */
  margin-bottom: 50px;
  position: relative;

}

.containtop::after {
  content: "";
  display: table;
  clear: both;
}
.containtop-left, .containtop-right-up{

  text-align: center;
  background-color: white;
  float: left;
}

.containtop-left {
  width: 20%;
  text-align: center;
  margin-left: 5%;



}
.img-containtop {
  width: 150px;
  margin-top: 15%;
  margin-bottom: 15px;
}

.containtop-right {
width: 62%;
text-align: left;
margin-left: 8%;
margin-right: 5%;
margin-top: 50px;
margin-bottom: 50px;
float: right;

}

.containtop-right-title {
  font-size: 25px;
  font-weight: bolder;
  display: block;
  padding-bottom: 25px;
  padding-top: 5px;


}

.containtop-right-subtitle {
  font-size: 20px;
  font-weight: bolder;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;

}
/* QUESTA COSA NON MI PIACE */
.rigadritta {
  position: absolute;
  border: 1px solid grey;
  margin-left: 50%;
  margin-top: 14%;
  width: 500px;
}

.containtop-right-ul li {
    display:inline;
    font-size: 20px;
}

.containtop-right-ul li:not(:first-child) {
  margin-left: 10px;
}



.fa-check-circle {
  color: orange;
}


.trittico {
  /* margin-left: 10%;
  margin-right: 10%; */
  width: 100%;
}

.trittico::after {
  content: "";
  display: table;
  clear: both;
}

.trittico-left, .trittico-right, .trittico-middle {
    width: 30%;
    margin-bottom: 50px;
    float: left;
    background-color: white;
    text-align: center;
}


.trittico-middle {
  margin-left: 5%;
  margin-right: 5%;
}

.img-trittico {
  height: 100px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.trittico-title {
  font-size: 25px;
  font-weight: bolder;
  display: block;
  margin-bottom: 20px;
}

.trittico-descrizione {
  font-size: 20px;
  margin-bottom: 30px;
  display: block;
}

.trittico-rigadritta {
  width:80%;
  margin: 50px 0 30px 10%;
  border-top: 1px solid black;
  display: block;
}

.trittico-subtitle {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

.trittico-ul {
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 20px;
}

.trittico-ul li>i {
  padding-right: 10px;
}

.trittico-button {
  margin-bottom: 10px;
}

/* LIVELLO DUE */
.livellodue {
  background-color: #00B0B2;
  width: 100%;

}

.livellodue-top {

  margin: 0% 15%;
  text-align: center;
  color: white;
}

.livellodue-title {
  font-size: 35px;
  padding: 30px 7% 0 7%;
  font-weight: bolder;
  display: block;
  margin-bottom: 30px;

}

.livellodue-subtitle {
  font-size: 17px;
  margin-left: 3%;
  margin-right: 3%;
}

/* PARTE INFERIORE DEL LIVELLO DUE, PARTE CON I BLOCCHI */
.livellodue-down {
  margin: 40px 15%;
  text-align: center;

}

.livellodue-bloccodiquattro-top::after {
    content: "";
    display: table;
    clear: both;
  }

  .livellodue-bloccodiquattro-down::after {
    content: "";
    display: table;
    clear: both;
  }

  .livellodue-bloccodiquattro-down {
    padding-bottom: 50px;
  }

.livellodue-bloccodiquattro-top {
  border-bottom: 1px solid white;
}
.livellodue-blocco {
  width:25%;
  float: left;
  color: white;
  height: 200px;
}

.livellodue-bloccodiquattro-title {
  font-size: 50px;
  display: block;
  margin-bottom: 10px;
}

.livellodue-bloccodiquattro-subtitle {
  font-size: 15px;
  display: block;


}

 .livellodue-bloccodiquattro-img {
   margin: 15px 0;
 }

 .due, .tre, .quattro, .sei, .sette, .otto {
   border-left: 1px solid white;
 }

 /* LIVELLO TRE */
 /* PARTE SUPERIORE DEL LIVELLO TRE */

 .livellotre {
   background-color: white;
   position: relative;
   width: 100%;

 }

 .livellotre-top::after {
   content: "";
   display: table;
   clear: both;
 }

.livellotre-top {
  margin-left: 15%;
  margin-right: 15%

}

 .livellotre-top-left {

   width: 160px;
   margin-top: 50px;
   float: left;
   margin-left: 6%;
 }

 .livellotre-top-left-title {
   font-size: 40px;
   display: block;
   margin-bottom: 10px;
   font-weight: bolder;
 }
 .livellotre-top-left-subtitle {
   font-size: 15px;
   text-align: justify;
 }
/* BLOCCO DI 8 LOGHI */

.livellotre-top-right {
  float: right;
  margin-top: 50px
}
  .livellotre-top-right-sup, .livellotre-top-right-inf {

    height: 50px;
    width: 600px;

  }

 .livellotre-top-right-inf {
   margin-top: 10px;

 }

 img.livellotre-top-right-sup-img {
   width: 100px;
   margin-left: 15px;

 }

.livellotre-top-right-inf img:nth-of-type(odd) {
  background-color: blue;
}

/* PARTE INFERIORE DEL LIVELLO TRE */

.livellotre-down {
  margin: 75px 15% 50px 15%;
}
.livellotre-down::after {
  content: "";
  display: table;
  clear: both;

}
.livellotre-down-left {
  text-align: left;
  width: 30%;

  float: left;
}
.livellotre-down-left-title {
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.livellotre-down-left-subtitle {
  display: block;
  font-size: 15px;
  margin-top: 30px;
}
.livellotre-down-left-subsubtitle {
  font-size: 10px;
  display: block;
}
.livellotre-down-left-button {
  margin-top: 30px;
}

.livellotre-down-left-subsubtitle {
  margin-top: 30px;
}

.livellotre-down-right {
  width: 20%;
  float: right;

}
.livellotre-down-right-img {
  width: 250px;
}

/* FOOTER */
.footer-container {

  background-color: #32495B;
  width: 100%

}
/* ZONA ALTA DEL FOOTER */
.footer-top::after {
  content: "";
  display: table;
  clear: both;

}
.footer-top {



  margin-left: 15%;
  margin-right: 15%;
}

.footer-top-section {
  float: left;
  width: 25%;

  text-align: left;
  margin-top: 25px;

}

.footer-top-section-title {
  color: white;
  font-weight: bold;

}

.footer-top-section-ul {
  list-style-type: none;
  color: silver;
}

.footer-top-section-ul li:first-child {
  margin-top: 15px;
}
.footer-top-section-ul li{
  margin-bottom: 10px;
}
.footer-top-button {
  display: block;
  margin: 10px 0;
  background-color: #DADEE0;
  color: #32495B;
  font-size: 12px;
  border: none;
}

.footer-top-section-linklist {
  color:white;
}
.footer-top-section-linklist i {
  padding-right: 15px;
}

/* ZONA INFERIORE DEL FOOTER */
.footer-down {
  margin: 40px 15% 0 15% ;

}

.footer-down-sup {
  border-bottom: 1px solid white;
  height: 30px;
  text-align: center;
}

ul.footer-down-sup-ul {
  color: silver;
  list-style-type: none;
}

.footer-down-sup-ul li {
  display: inline;
  padding:10px;
}

/* PARTE INFERIORE DEL FOOTER */
.footer-down-inf::after {
  content: "";
  display: table;
  clear: both;
}

.footer-down-inf {
  margin-top: 20px;
}

.footer-down-inf-left {
float:left;
}

.footer-down-inf-right {
  float: right;
}

.footer-down-inf-right-ul {
  list-style-type: none;
  display: inline;
}

ul.footer-down-inf-right-ul li {
  display: inline;
  padding-left: 10px;
  color:silver;
}

.footer-down-inf-left-subtitle {
  display: block;
  color: silver;
}
